# QUESTO E' IL FILE PER LE VARIABILI D'AMBIENTE DI DEFAULT LOCALI
#
#
#
# cp .env.example .env

# Porta HTTP su cui il server è in ascolto
PORT=3000

# Percorso della directory in cui vengono salvati i file delle stanze
DATA_DIR=./data
